@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:wght@200..900&display=swap');

* {
font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}

body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

/*nav*/
.navbar {
}


.navbar-nav .nav-link{
    color: lightblue;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #007bff;
}

.navbar-collapse {
    padding-top: 2px;

    @media (width < 992px) {
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    flex-direction: column;
}

}

.navbar-toggler{
    z-index: 3;
}
.d-flex {
    height: 2rem;
    width: 15rem;
    position: relative;
}
.d-flex span {
    position: absolute;
    right: 0rem;
    margin: 3px;
}

.form-control {
    text-align: center;
}
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    gap: 1.5rem;
    @media (width >= calc(600 / 16 * 1rem)) {
    margin-right: 10rem;
}
}

.me-auto {
   
    @media (width < 992px) {
   margin-right: 0 !important;
}
}

section {
    padding: 2px;
    margin: 2rem 0;

    @media (width >= calc(600 / 16 * 1rem)) {
 
}
}

/*first slider*/
.hero{
 margin-top: 4px;
}

#hero-carousel img {
    
    height: 20rem; 
    border-radius: 50px;

@media (width >= calc(600 / 16 * 1rem)) {
    height: 40rem; 
}

@media (width >= calc(1000 / 16 * 1rem)) {
    height: 50rem; 
}

}


.carousel-control-prev,.carousel-control-next {
    
}